
section#mn-bd{
    background: url('/assets/EM.gif') center / cover no-repeat;
    width: 100%;
    height: 90vh;
}

@media (max-width:768px) {
    section#mn-bd{
        background-position: top;
        background-size: contain;
    }
}