
*{
    font-family: "Play", sans-serif;
}

/*PÁGINA PLACAS.HTML*/

#title_page{
	text-align:center;
	font-size:3.75rem;
    margin-bottom: 20px;
	}

section#myTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#INPUT_NOME{
	width: 70%;
	border: 2px solid var(--color3);
	border-radius: 10px;
	font-family: Times New Roman;
	font-size: 2rem;
    margin:50px auto;
}

#INPUT_NOME:hover{
	border: 2px solid var(--color7);
}
	
#table_conteiner{
    border:solid 1px;
    border-collapse:collapse; 
}
	
#table_head tr,th{
	background: var(--color4);
	color: var(--color2);
	width: 20%;
	font-size: 2vw;
	text-align: center;
}
	
#table_conteiner tbody tr{
    border:solid 1px;
    height:5vw;
	width:20%;
	font-size:1.8vw;
	text-align:center;
}

#table_conteiner tbody tr:hover{
	background-color: var(--color8);
	transition: .5s linear;
}

@media (max-width:768px){

    #title_page{
        font-size: 2rem;
    }

    #INPUT_NOME{
        font-size: 1rem;                
    }
} 

@media (max-width:456px){

    h1#title_page{
        font-size:1.6rem;
    }

    h2{
        font-size: 1rem;
    }
}


