
*{
    font-family: "Play", sans-serif;
}

/*PÁGINA PLACAS.HTML*/

#title_page{
	text-align:center;
	font-size:3.75rem;
    margin-bottom: 20px;
	}

section#cadastro{
    display: flex;
    flex-direction: column;
    gap:10px;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin:0 10px;
    gap:20px;
    padding:10px 5px;
}

.formulario__valores{
    font-weight: bold;
    font-size: 1.3rem;
}

label input{
    width:70%;
    padding:6px;
    border:2px solid var(--color1);
    border-radius: 5px;
    font-size: 1.1rem;
}

button[type='submit']{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px auto;
    width:20%;
    padding:10px;
    border-radius: 20px;
    background-color: inherit;
    border:3px solid var(--color7);
    font-size: 1.5rem;
    font-weight: bold;
    transition: .5s all;
    cursor:pointer;
}

button[type='submit']:hover{
    background-color: var(--color7);
    color:var(--color2);
    filter: drop-shadow(1px 1px 10px var(--color7));
}

section#myTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#INPUT_NOME{
	width: 70%;
	border: 2px solid var(--color3);
	border-radius: 10px;
	font-family: Times New Roman;
	font-size: 2rem;
    margin:50px auto;
}

#INPUT_NOME:hover{
	border: 2px solid var(--color7);
}
	
#table_conteiner{
    border:solid 1px;
    border-collapse:collapse; 
}
	
#table_head tr,th{
	background: var(--color4);
	color: var(--color2);
	width: 20%;
	font-size: 2vw;
	text-align: center;
}
	
#table_conteiner tbody tr{
    border:solid 1px;
    height:5vw;
	width:20%;
	font-size:1.8vw;
	text-align:center;
}

#table_conteiner tbody tr:hover{
	background-color: var(--color8);
	transition: .5s linear;
}

@media (max-width:768px){

    #title_page{
        font-size: 2rem;
    }

    #INPUT_NOME{
        font-size: 1rem;                
    }
   
    button#submit{
        width:70%;
    }
} 

@media (max-width:456px){

    h1#title_page{
        font-size:1.6rem;
    }

    h2{
        font-size: 1rem;
    }

    .formulario__valores{
        font-size: 1rem;
    }

    label input{
        width:100%;
    }
}


